.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.right-section form {
  display: flex;
  align-items: center;
}

.right-section input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.right-section button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.right-section button:hover {
  background-color: #0056b3;
}

/* Movie Detail Container */
.movie-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-info {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #7c7676;
}

.movie-poster {
  width: 200px;
  height: 300px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

.movie-details {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-overview {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
}

.additional-details p {
  font-size: 16px;
  margin-bottom: 8px;
}

.cast-box {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
  background-color: #7c7676;
}

.cast-list {
  display: flex;
  overflow-x: auto;
}

.cast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.actor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.actor-name {
  font-size: 14px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Movie List Container */
.container {
  padding: 2rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-card {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-title {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.movie-title h3 {
  margin: 0;
  padding: 0;
  font-size: 10px !important;
}

/* Additional Styles */
body {
  background-color: #94f1f1;
  /* Light blue background color */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.panel {
  background-color: #3c6892;
  /* Light blue background color for panel */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}